
body {
	width: 800px;
	margin: 20px auto;
}

svg {
	margin: 0;
	padding: 0;
	width: 800px;
	height: 600px;
	border: 1px inset lightgrey;
	
}

#movie-searcher {
	margin-bottom: 20px;
}

.bar {
	fill: grey;
}
.bar.fetched {
	fill: steelblue;
}
.bar.failed {
	fill: pink;
}
.bar text {
	fill: black;
}
.bar.fetched text {
	fill: white;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.avg {
	shape-rendering: crispEdges;
}
.avg line {
	stroke: lightgrey;
}
