
body {
	width: 800px;
	margin: 20px auto;
}

svg {
	margin: 0;
	padding: 0;
	width: 800px;
	height: 600px;
	border: 1px inset lightgrey;
	
}

#movie-searcher {
	margin-bottom: 20px;
}

#svg-canvas {
	/*
	Make the loading icon position relative to this element, on top of the SVG,
	but not taking up any space.
	
	See http://stackoverflow.com/a/105035/646619 
	*/
	position: relative;
}

#loading-icon {
	position: absolute;
	top: 276px; /* Center over SVG */
	left: 376px;
}
